[Desktop Entry]
Exec=~/.local/bin/update-hosts-file
Name=Update Hosts File
Icon=/usr/share/icons/breeze-dark/emblems/8/emblem-locked.svg
StartupNotify=false
Type=Application
